[submodule "third_party/ioter-stable"]
	path = third_party/ioter-stable
	url = https://github.ecodesamsung.com/THREAD/ioter
	branch = feature/linux-thread-cli
[submodule "third_party/openthread/ot-samsung"]
	path = third_party/openthread/ot-samsung
	url = https://github.com/junyong-sim/openthread
	branch = feature/contribution-ioter-c1
[submodule "third_party/connectedhomeip"]
	path = third_party/connectedhomeip
	url = https://github.com/junyong-sim/connectedhomeip
	branch = feature/ioter
